<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <header class="site-header">
      <div class="header-container">
        <div class="logo-container">
          <img src="/images/logo.png" alt="TechGenius AI Logo" class="logo" />
          <h3 class="logo-caption">TechGenius AI</h3>
        </div>
    
        <div class="title-container">
          <h1 class="site-title">Artificial Intelligence and Technology</h1>
        </div>
      </div>
    </header>    
    <nav class="nav-links">
      <a href="/">Home</a> |
      <a href="/blog">Blog</a> |
      <a href="/about">About</a>
    </nav>
  </header>
  </body>
  <main>
